{% extends 'home/static/base/base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
{% block head %}
  
  <title>Tugas 8 PPW Ravi</title>
  <link rel="stylesheet" href="{% static 'css\style.css' %}">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
{% endblock %}

{% block content %}


<input id="kataKunci" placeholder="Masukkan Kata Kunci Buku" type="text">
<br><br>

<script type="text/javascript">
    $('#kataKunci').keyup( function(){
        var input = $("#kataKunci").val();
        var header = '<thead class="thead-dark"> <tr><th>Judul</th><th>Penulis</th><th>Penerbit</th><th>Cover</th></tr> </thead>'
        //console.log(input);
        $.ajax({
            url: "/data?q=" + input,
            success: function(data){
                var array_items = data.items;
                $("#tabel").empty();
                $("#tabel").append(header)
                for(i = 0; i < array_items.length; i++) {
                    var judul = array_items[i].volumeInfo.title;
                    var penulis = array_items[i].volumeInfo.authors[0];
                    var penerbit = array_items[i].volumeInfo.publisher;
                    var gambar = array_items[i].volumeInfo.imageLinks.smallThumbnail;
                    $("#tabel").append("<tr><td> " + judul + "</td><td>" 
                    + penulis + "</td><td>" + penerbit + "</td><td><img src= " + gambar + "></td></tr>");
                    console.log(judul);
                }
            }
        });
    });
</script>

<table  class="table" id="tabel">   
</table>


{% endblock %}
