html {
    scroll-behavior: smooth;
  }

.jumbotron{
    text-align: center;
    font-family: monaco,Consolas,Lucida Console,monospace;
    background-size: cover;
    height: 660px;
    margin-top: 150px;
}

h3 {
  text-align: center;
  font-family: monaco,Consolas,Lucida Console,monospace;
  
  font-weight: bold;
}


.jumbotron .btn{
    border: none;
    border-radius: 25px;
    padding-right: 25px;
    padding-left: 25px; 
    font-family: monaco,Consolas,Lucida Console,monospace;  
}

.btn {
    border: none;
    border-radius: 25px;
    padding-right: 25px;
    padding-left: 25px; 
    font-family: monaco,Consolas,Lucida Console,monospace;
    align: center;
}

h2{
    text-align: center;
    font-family: monaco,Consolas,Lucida Console,monospace;
    font-weight: bold;
}

.navbar{
    font-family: monaco,Consolas,Lucida Console,monospace;
}

img{
    margin: 0px 90px;
    border-radius: 50%;
}

.biodata{
    margin-top: 35px;
}

p{
    
    font-size: 24px;
    text-align: center;
    font-family: monaco,Consolas,Lucida Console,monospace;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

.fa-youtube {
    background: #bb0000;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }  

hr{
    border: 1px solid black;
    width: 100%;
}

@media screen and (min-width: 400px) {
    body {
        font-size: 18px;
    }
}

  h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: rgb(22, 43, 224);
    margin-top: 70px;
}


hr{
    border: 1px solid black;
    width: 100%;
}

  
  #accordion {
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
  }
  
  .active, #accordion:hover {
    background-color: rgb(196, 49, 49);
  }
  
  #accordion:after {
    content: '\002B';
    color: rgb(41, 143, 104);
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .move-down {
    margin-left: 92%;
    border-radius: 50%;
    border: 2px solid #cc3636;
    transition-duration: 0.3s;
  }

  .move-up {
    border-radius: 50%;
    border: 2px solid #cc3636;
    transition-duration: 0.3s;
  }
  
  .move-down:hover {
    background-color: #4CAF50;
    color: white;
  }

  .move-up:hover {
    background-color: #4CAF50;
    color: white;
  }

  span {
    font-size:30px;
  }

  input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid rgb(79, 28, 218);
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
    width: 50%;
    margin-top: 10%;
  }
  
  input[type=text]:focus {
    border: 2px solid rgb(79, 28, 218);
    width: 100%;
  }


  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border: 1px solid black;
  }
  
  tr:hover {
    background-color:#6d5cca;
  }

  
  

